body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.title {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}
.event {
    background-color: #ffedcc;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}
.event-title {
    color: #ff8c00;
    font-size: 1.5em;
    margin-bottom: 10px;
}
.invite-button {
    padding: 10px 20px;
    background-color: #ff8c00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}
.invite-button:hover {
    background-color: #e67600;
}
.referral-stats {
    font-size: 1.2em;
    color: #777;
}
.menu {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px 0;
    border-top: 1px solid #ddd;
}
.menu-item {
    text-align: center;
    flex: 1;
    padding: 10px;
}
.menu-item img {
    width: 30px;
    height: 30px;
}
.menu-item span {
    display: block;
    margin-top: 5px;
    color: #333;
}
